/* Cabeçalho --> Aonde fica nosaa logo e o ícone de menu */
#header{
    height: 78px;
    background-color: #5E60CE;
    margin: 0;
    width: 1425px;
}

/* Escrita Fga Health Analytics */
#header p{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    color: #FCFCFC;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding-top: 25px;
}

/* Logo da nosso dashboard*/
#header img
{
    width: 60px;
    height: 55px;
    display: inline-block;
    padding: 12px 12px 12px 20px;
    color: #FFFFFF;
}

#block_1{
    width: 420px;
    height: 870px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    margin-top: 33px;
    margin-left: 20px;
    padding-right: 12px;
    margin-bottom: 20px;
}

#block_1 p{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

#seccao_filtros{
    width: 420px;
    height: 420px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding-left: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
}

#oq_deseja_ver{
    text-align: center;
    margin: 0px;
}

#grafico_1_filtro_text{
    position: absolute;
    width: 150px;
    margin-top: -20px;
}

#grafico_2_filtro_text{
    text-align: center;
    width: 150px;
    margin-left: 270px;
    position: absolute;
    margin-top: -20px;
}

#Primeira_linha{
    display: block;
}

#Segunda_linha{
    display: block;
}

#Terceira_linha{
    display: block;
}

#Quarta_linha{
    display: block;
}
#pais_grafico_1{
    padding-right: 10px;
    display: inline-block;
    color: #000000;
    position: relative;
    width: 200px;
}

#casos_mortes_grafico_1{
    display: inline-block;
    color: #000000;
    position: relative;
    width: 200px;
    padding-right: 10px;
}

#tipo_grafico_1{
    padding-right: 10px;
    display: inline-block;
    position: relative;
    width: 200px;
}

#pais_grafico_2{
    padding-right: 10px;
    display: inline-block;
    position: relative;
    width: 200px;
}

#casos_mortes_grafico_2{
    padding-right: 10px;
    display: inline-block;
    position: relative;
    width: 200px;
}

#tipo_grafico_2{
    padding-right: 10px;
    display: inline-block;
    position: relative;
    width: 200px;
}

#filtros_gerais_text{
    display: inline-block;
    position: relative;
    margin-top: 0px;
    margin-left: 100px;
}

#escolha_data{
    margin-left: 55px;
    margin-top: -10px;
}

#top_3{
    width: 432px;
    height: 418px;
    display: inline-block;
    margin-top: 32px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
}

#top3_global{
    height: 418px;
    border-radius: 30px;
}

.resumo_geral{
    display: inline-block;
    margin-bottom: 20px;
    position: absolute;
}

#resumo_casos{
    width: 300px;
    height: 232px;
    display: inline-block;
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 33px;
    margin-left: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
    vertical-align: top;
}

#icon_circle_casos{
    width: 61.8px;
    height: 53px;
    background-color: #FDEC6B;
    border-radius: 50%;
    position: absolute;
    margin-left: 11px;
    margin-top: 17px;
}

#icon_casos{
    width: 35px;
    height: 37px;
    margin-left: 25.99px;
    margin-top: 25.5px;
    position: absolute;
}

#casos_confirmados_text{
    position: absolute;
    margin-left: 79px;
    margin-top: 33px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#acumulado_casos_text{
    position: absolute;
    margin-left: 79px;
    margin-top: 130px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#novos_casos_text{
    position: absolute;
    margin-left: 79px;
    margin-top: 190px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#colocar_algo{
    width: 300px;
    height: 232px;
    display: inline-block;
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 33px;
    margin-left: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
}

#resumo_obitos{
    width: 300px;
    height: 232px;
    display: inline-block;
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 33px;
    margin-left: 20px;
    position: absolute;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
}

#icon_circle_obitos{
    width: 61.8px;
    height: 53px;
    background-color: #FA6868;
    border-radius: 50%;
    position: absolute;
    margin-left: 12px;
    margin-top: 17px;
}

#icon_obitos{
    width: 39px;
    height: 39px;
    margin-left: 22.98px;
    margin-top: 24px;
    position: absolute;
}

#obitos_confirmados{
    position: absolute;
    margin-left: 77px;
    margin-top: 33px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#acumulado_obitos_text{
    position: absolute;
    margin-left: 12px;
    margin-top: 130px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#letalidade_text{
    position: absolute;
    margin-left: 12px;
    margin-top: 187px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#novos_obitos_text{
    position: absolute;
    margin-left: 150px;
    margin-top: 130px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

/* Gráfico 1 */
#grafico-1{
    width: 940px;
    height: 281px;
    margin-left: 20px;
    margin-top: 33px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
}

/* Gráfico 2 */
#grafico-2{
    width: 940px;
    height: 281px;
    margin-left: 20px;
    margin-top: 33px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
}

body{
    background-color: #C5D5FD;
    margin: 0;
}
/* Trabalhar layout do header e padding dos gráficos